.cardGeneratePage{
    position: absolute;
    top: 0%;
    background-image: url('../../assets/backgrounds/collectData.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.handDiv{
    margin-top: 20vh;
    background-color: rgba(128, 133, 136, 0.2);
    border-radius: 2rem;
}