.background{
    position: absolute;
    top: 0%;
    background: linear-gradient()
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.matchPic{
    border-radius: 3rem;
}

.carAttributeText{
    font-size: 2rem; 
}

.nextRoundBtn{
position: absolute;
top: 50%;
left: 47%;
}

.matchDataDiv{
    margin-top: 30vh;
}