.background{
    position: absolute;
    top: 0%;
    background: linear-gradient()
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.matchPic{
    border-radius: 3rem;
}

.carAttributeText{
    font-size: 2rem;
    font-weight: 800;
}

.nextRoundBtn{
position: absolute;
top: 25%;
left: 46%;
border-radius: 50%;
height: 15vh;
}

.matchDataDiv{
    margin-top: 20vh;
    height: 50vh;
}